#operationsList,
#flowList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    min-height: 200px;
}

#operationsList li {
    border-bottom: 1px solid #3b9aff;
    padding: 8px;
    background-color: #E1F5FE;
}

#operationsList {
    min-height: 90vh
}

#operationsList li:hover,
#flowList li:hover {
    cursor: pointer;
}

.flowItem {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    background-color: #E1F5FE;
    border: 1px solid #3b9aff;
    padding: 10px;
    box-shadow: 2px 2px 2px #DADADA;
    border-radius: 3px;
}

#inputContainer {
    margin-top: 5px;
    min-height: 250px;
}

#inputProgress {
    height: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inputScanContainer {
    margin-top: 3px;
}

#inputFileHashes {
    margin-top: 3px;
}
