.modal-content {
    padding: 10px;
}

.modal-content h1 {
    font-size: 1.2em;
}

#viewCodeModalArea {
    margin: 5px;
    padding: 5px;
    background-color: #F0F0F0;
    min-height: 20em;
    border: 1px solid #CCCCCC;
}