#opPane {
    float: left;
}

#ioPane {
    float: right;
    height: 100%;
}

#flowPane {
    height: 100%;
}

#outputPane {
    height: 100%;
}

.paneHeader {
    height: 2.8em;
    padding: 8px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #E0E0E0;
}

.paneHeader h2 {
    font-size: 1.1em;
    line-height: 1.6em;
    display: inline;
}


#debugOpsCheckbox,
#outputLineNumbersCheckbox {
    position: relative;
    margin-right: 5px;
    float: right;
}

#debugOpsCheckboxLabel,
#outputLineNumbersCheckboxLabel {
    float: right;
}

#viewCodeLineNumbersCheckbox,
#viewCodeLineNumbersCheckboxLabel {
    position: relative;
    margin-left: inherit;
}

.form-check-label {
    user-select: none;
}

.spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}