
.split,
.gutter.gutter-horizontal {
    float: left;
}

.gutter {
    background-color: #E0E0E0;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    height: calc(100vh - 25px);
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}

#flowContainer {
    overflow: auto;
    height: calc(100% - 2.8em);
}
